<ui-gmap-google-map 
	center="home.map.center" 
	zoom="14"
	options="home.map.options"
	events="home.map.events"
	control="home.map.control">

<ui-gmap-marker
	ng-repeat="lot in home.lots"
        idKey="lot._id"
        coords="{latitude : lot.lat, longitude : lot.lng}"
	icon="'/assets/img/available.png'"
        >
</ui-gmap-marker>


</ui-gmap-google-map>
<div class="panel panel-default">
	<div class="panel-heading" 
		ng-attr-screen-heading 
		ng-attr-center-name="center"
		ng-attr-left-name="left"
		ng-attr-left-function="home.testleft"
		ng-attr-left-icon="glyphicon-chevron-left"
		ng-attr-right-name="right"
		ng-attr-right-function="home.testright"
		ng-attr-right-icon="glyphicon-chevron-right"
	>
	</div>
</div>
