<div class="screen-container">
	<div ng-class="{'time-container': true, 'time-container-open': home.timeOpen}" ng-cloak>
		<form name="search" role="form" novalidate> 
			<div ng-class="{'form-group': true, 'has-error': search.date.$invalid}"> 
				<label class="control-label" for="date">Date</label> 
				<input type="date" name="date" class="form-control" id="date" ng-model="home.searchDateInput" required> 
			</div> 
			<div ng-class="{'form-group': true, 'has-error': search.hours.$invalid}"> 
				<label class="control-label" for="hours">Hour</label> 
				<input type="number" min="0" max="23" name="hours" class="form-control" id="hours" ng-model="home.searchHoursInput" required> 
			</div> 
			<button type="button" class="btn btn-default btn-sm" ng-click="home.searchUpdate()" ng-disabled="search.$invalid"><span class="glyphicon glyphicon-save"></span> update</button>	
		</form> 
	</div>
	<div ng-class="{'menu-container': true, 'menu-container-open': home.menuOpen}" ng-cloak>
		<ul class="list-group">
			<li class="list-group-item" ng-click="home.navigateReservations()">My Reservations</li>
		</ul>
	</div>
	<div ng-class="{'content-container': true, 'content-container-menu': home.menuOpen, 'content-container-time': home.timeOpen}" ng-cloak>
		<div class="panel panel-default">
			<div class="panel-heading" 
				ng-attr-screen-heading 
				ng-attr-center-name="Park"
				ng-attr-left-name="menu"
				ng-attr-left-function="home.menuOpen = ! home.menuOpen"
				ng-attr-left-icon="glyphicon-list"
				ng-attr-right-name="time"
				ng-attr-right-function="home.timeOpen = ! home.timeOpen"
				ng-attr-right-icon="glyphicon-time"
			>
			</div>
		</div>
	</div>
</div>
