<ui-gmap-google-map 
	center="home.map.center" 
	zoom="13"
	options="home.map.options">
	<ui-gmap-circle
		center="home.search.center"
		radius="home.search.radius"
		fill="{color: '#00FF00', opacity: 0.2}"
		stroke="{color: '#00FF00', weight: 2, opacity: 1}"
		clickable="true"
		draggable="true"
		events="home.search.events"
		>
	</ui-gmap-circle>
</ui-gmap-google-map>
<div class="panel panel-default">
	<div class="panel-heading" 
		ng-attr-screen-heading 
		ng-attr-center-name="center"
		ng-attr-left-name="left"
		ng-attr-left-function="home.testleft"
		ng-attr-left-icon="glyphicon-chevron-left"
		ng-attr-right-name="right"
		ng-attr-right-function="home.testright"
		ng-attr-right-icon="glyphicon-chevron-right"
	>
	</div>
</div>
